/* Options CSS */
.options{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    /* padding:10px;     */
}


.options li{
    padding:10px;
    list-style: none;
    margin-left: 50px;
    font-size: 1.2rem;
}

.options li:hover{  
    color: green;
    cursor: pointer;
}

@media (max-width:650px){
    .options li{
        font-size: 0.8rem;
    }
}
@media (max-width:450px){
    .options li{
        display: none;
    }
}